.blog-section{
    padding: 8rem 0;
    
    .blog-item{
        figure{
            a{
                overflow: hidden; 
                img{
                    transition: 1s all linear;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }

            .blog-content{
                padding: 22px 18px 57px;
                transform: translateY(-50%);
                left: 25px;
                right: 25px;
                h4{
                    text-align: center;
                    font-family: $bodoni;
                    font-size: 1.4rem;
                    font-style: italic;
                }
                p{
                    text-align: center;
                    height: 2*2.4rem;
                    overflow: hidden;
                }
            }
        }
    }
}
