$footer-social-color:$mademoiselle-color;

footer{
    padding-top: 20px;
    .social{
        a{
            color: $footer-social-color;
            margin-right: 33px;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
    .copyright{
        font-size: 1.2rem;
        line-height: 4.1rem;
        letter-spacing: -0.17px;
    }
}

